body {
    background-color: yellow;
    font: 18px Verdana;
}

img {
    margin: 10px;
    border-radius: 50%;
}

aside, header, article {
    border: 1px solid black;
    margin: 10px;
    background-color: lightskyblue;
    padding: 10px;
}

aside, article {
    float: left;
}

aside {
    width: 20%;
}

article {
    width: 72%;
    text-align: justify;
}

header {
    text-align: center;
}

#first-paragraph::first-letter {
    font-size: 50px;
    float: left;
    color: red;
    margin-right: 5px;
}